.favourites {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 84vh;

  .FavouriteCard {
    margin: 20px;
    line-height: 10px;
    width: 70%;
    padding: 20px;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #4b2929ec;
    background-color: whitesmoke;
    opacity: 0.95;
    img {
      height: 70%;
    }
  }
}
