nav {
  background-color: #4b2929ec;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;

  width: 90%;
  margin: auto;
}
.item-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 100px;
  height: 50px;
}

.nav {
  margin: 0;
  padding: 0;
}

.item {
  margin: 0;
  padding: 5px;

  color: white;
  margin-right: 10px;
  text-decoration: none;
  font-size: 15px;
}

.item:hover {
  color: white;
}

i {
  color: white;
  padding-right: 5px;
}
h3 {
  color: white;
  font-family: 'Kaushan Script', cursive;
  font-size: 20px;
}

.fbLoggedIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-left: 30px;
  color: white;
  font-size: 12px;
}
.fbLoggedIn img {
  width: 30%;
  height: 30%;
}

@media screen and (max-width: 870px) {
  .navContainer {
    display: flex;
    flex-direction: column;
    .item-container {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
    }
  }
}
