/* naming conventions = "-containers" outermost box of section*/

.properties-page {
  background-image: url('./images/brick.jpg');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;

  .properties-title {
    display: flex;
    justify-content: flex-start;
    width: 90%;
    h1 {
      margin: 100px 0px 5px;
      color: whitesmoke;
    }
  }
}
.property-summaries {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 870px) {
  .properties-page .properties-title {
    display: flex;
    justify-content: center;
    width: 90%;
  }
  .property-summaries {
    width: 100%;
  }
}
