.add-propContainer {
  background-image: url(../style/images/addprop1.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-position: center center;
  text-align: center;
  margin: auto;
  padding: 0;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*** Form Styling **/
  /** Form Styling end **/
  /* Alert Component */
  /** Alert Component End **/
}

.add-propContainer h2 {
  color: #252525;
  font-weight: 600;
}

.add-propContainer .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px;
  width: auto;
  margin: 0;
  color: #bbb9b9;
  background-color: #252525;
  border-radius: 10px;
}

.add-propContainer .formItem {
  margin: 3px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add-propContainer .input-icon {
  border: 2px solid #252525d7;
  border-radius: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #dcdada;
}

.add-propContainer .item-rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.add-propContainer .form i {
  color: #252525d7;
  font-size: 18px;
  border-right: 2px solid #252525d7;
  padding: 2px;
}

.add-propContainer input {
  border: none;
  background-color: #c2c0c0;
  padding: 0px 0px 0px 5px;
  height: 100%;
}

.add-propContainer select {
  background-color: #c2c0c0;
  border: 2px solid black;
}

.add-propContainer .email-entry {
  width: 80%;
  margin: auto;
  display: block;
}

.add-propContainer .email-entry input {
  width: 98%;
  font-size: 18px;
}

.add-propContainer .description {
  width: 100%;
  margin: auto;
  display: block;
}

.add-propContainer .description textarea {
  width: 500px;
  font-size: 18px;
  background-color: #c2c0c0;
}

.add-propContainer button {
  cursor: pointer;
  width: 100px;
  background-color: #252525d7;
  color: white;
  border-radius: 20px;
}

.add-propContainer .Error {
  background-color: red;
  width: 100%;
  text-transform: uppercase;
}

.add-propContainer .success {
  background-color: green;
  width: 100%;
  text-transform: uppercase;
}

.articles-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* background-color: #252525; */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  color: #252525;
  margin: 50px 0px;
}

.articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.article-item {
  padding: 10px;
  height: 100%;
  text-align: center;
}

.article-item img {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

h2 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 50px;
}

.favourites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 20px;
}

.footerContainer {
  background-color: #252525d7;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(175, 153, 120, 0.534);
}

nav {
  background-color: #252525f5;
}

.navContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  width: 90%;
  margin: auto;
}

.item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

img {
  width: 100px;
  height: 50px;
}

.nav {
  margin: 0;
  padding: 0;
}

.item {
  margin: 0;
  padding: 5px;
  color: white;
  margin-right: 10px;
  text-decoration: none;
  font-size: 15px;
}

.item:hover {
  color: white;
}

i {
  color: white;
  padding-right: 5px;
}

h3 {
  color: white;
  font-family: 'Kaushan Script', cursive;
  font-size: 20px;
}

.fbLoggedIn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  margin-left: 30px;
  color: white;
  font-size: 12px;
}

.fbLoggedIn img {
  width: 30%;
  height: 30%;
}

@media screen and (max-width: 870px) {
  .navContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navContainer .item-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
  }
}

/* naming conventions = "-containers" outermost box of section*/
.properties-page {
  background-image: url("./images/brick.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80vh;
}

.properties-page .properties-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 90%;
}

.properties-page .properties-title h1 {
  margin: 100px 0px 5px;
  color: whitesmoke;
}

.property-summaries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.PropertyCard {
  margin: 20px;
  line-height: 10px;
  width: 70%;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  background-color: #252525;
}

.box-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.box-1 img {
  width: 100%;
  height: 80%;
}

.box-1 .bed-bath-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  background-color: #252525;
  color: #c2c0c0;
}

.box-1 .bed-bath-price .price {
  font-size: 1rem;
  margin: 10px;
  font-weight: bolder;
}

.box-1 .bed-bath-price .bed-bath {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80%;
  font-size: 1rem;
}

.box-1 .bed-bath-price .bathroom {
  margin-left: 10px;
}

.box-1 .bed-bath-price i {
  color: #c2c0c0;
}

.box-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.box-2 .title {
  margin: 0px;
  font-size: 14px;
  color: #c2c0c0;
  text-align: center;
  line-height: normal;
  padding: 5px 10px;
  height: 100%;
}

.box-2 .type-city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  color: #c2c0c0;
}

.box-2 .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 22px;
  border-radius: 2px;
  color: #c2c0c0;
  margin: auto;
}

.box-2 .email i {
  color: #c2c0c0;
  padding: 5px 10px;
}

.box-2 .email p {
  color: #c2c0c0;
  padding: 0px 5px;
}

.box-2 .email-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  background-color: #252525fa;
  -webkit-transition: ease-in 5s;
  transition: ease-in 5s;
  width: 90%;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-bottom: 100px;
}

.sidebar .link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.sidebar .link-container a {
  color: white;
}

.sidebar .link-container .filter-cities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.sidebar .link-container .sort-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  padding: 10px;
}

.sidebar .link-container form {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .link-container form input {
  width: 70%;
}

.sidebar .link-container form button {
  background-color: #4b2929ec;
  border: none;
}

.sidebar .link-container form i {
  color: white;
}

.favourites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 84vh;
}

.favourites .FavouriteCard {
  margin: 20px;
  line-height: 10px;
  width: 70%;
  padding: 20px;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #4b2929ec;
  background-color: whitesmoke;
  opacity: 0.95;
}

.favourites .FavouriteCard img {
  height: 70%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 2px;
  background-color: #f3f1ef;
}

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=App.css.map */