.footerContainer {
  background-image: linear-gradient(to left, rgb(224, 85, 213), rgb(70, 1, 70));
  border-top: 3px solid grey;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
