.PropertyCard {
  margin: 10px;
  padding: 5px;
  line-height: 10px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #5d4954;
  background-color: whitesmoke;
}
.PropertyCard i {
  color: black;
}
.PropertyCard img {
  width: 70%;
  height: 70%;
}
.title {
  text-align: center;
  font-size: 20px;
  padding: 15px;
  width: 100%;
  line-height: normal;
}

.email {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #5d4954;
  height: 22px;
  border-radius: 2px;
  color: white;
  margin: auto;
}
.email i {
  color: white;
  padding: 5px 10px;
}
.email p {
  color: white;
  padding: 5px 10px;
}

.bed-bath {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bathroom {
  margin-left: 10px;
}

.desc {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.title-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.type-city {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.bed-bath-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.email-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
