.sideBarContainer {
  margin: 0 10px auto 0px;
}

.link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background-image: linear-gradient(to left, rgb(224, 85, 213), rgb(70, 1, 70));
}

.sideBarContainer h2 {
  color: white;
}

.link {
  color: white;
}
